ElevatorSimulator-NodeRED.json
[{"id":"80844d23.1ebb8","type":"tab","label":"Flow 1"},{"id":"bcf7de15.24d4c","type":"tab","label":"Flow 2"},{"id":"dca3fea8.3ce46","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"66c972e9.90f0dc","type":"wiotp-credentials","z":"","name":"IBM IOT","org":"wqvn03","devType":"RaspberryPi","devId":"Rspi01"},{"id":"433b10d9.bd724","type":"Device Schema","z":"","deviceType":"Elevator","props":[{"guid":"e76a0e692587","name":"motorTemp","random":{"func":"floating","args":{"min":150,"max":170,"fixed":4}}},{"guid":"c2881d12e8f3","name":"currentFloor","random":{"func":"integer","args":{"min":0,"max":6}}},{"guid":"38416d39cffe","name":"doorOpen","defaultValue":{"type":"bool","value":"false"}},{"guid":"745ce852562a","name":"state","defaultValue":{"type":"str","value":"idle"}},{"guid":"d1ebf05ff8fb","name":"numberOfFloors","defaultValue":{"type":"num","value":"6"}},{"guid":"80cc3cb81053","name":"cabinTemp","random":{"func":"integer","args":{"min":70,"max":95}}},{"guid":"40741d3132a4","name":"cabinSpeed","defaultValue":{"type":"num","value":"0"}},{"guid":"297fd95abda8","name":"direction","defaultValue":{"type":"num","value":"1"}},{"guid":"bcca0e31b9d6","name":"load","defaultValue":{"type":"num","value":"0"}},{"guid":"c15961c2f7bf","name":"gotoFloor","defaultValue":{"type":"num","value":"0"}},{"guid":"1bd9b63f4b60","name":"maintenanceStop","defaultValue":{"type":"bool","value":"false"}},{"guid":"717226438586","name":"forceOpenDoor","defaultValue":{"type":"bool","value":"false"}},{"guid":"bd4d2913cb07","name":"maintenanceReason","defaultValue":{"type":"str","value":""}},{"guid":"efd6898dd4db","name":"maxMotorTemp","defaultValue":{"type":"num","value":"180"}},{"guid":"438e94df7c4a","name":"minMotorTemp","defaultValue":{"type":"num","value":"140"}},{"guid":"2b397533cfa2","name":"curtainOfLightBreak","defaultValue":{"type":"num","value":"0"}},{"guid":"299639e87d50","name":"cleanessOfFloor","defaultValue":{"type":"num","value":"1"}},{"guid":"ba7d2793453d","name":"curtainOfLightBreakCount","defaultValue":{"type":"num","value":"0"}},{"guid":"459e0d4c3af6","name":"curtainOfLightBreakRate","defaultValue":{"type":"num","value":"10"}},{"guid":"7fa0c8927a50","name":"floorStopReq","defaultValue":{"type":"json","value":"[]"}},{"guid":"3e84a9a94615","name":"autoFloorSelection","defaultValue":{"type":"bool","value":"true"}},{"guid":"f1c8fd3fbf31","name":"motorVibration","random":{"func":"integer","args":{"min":0,"max":20000}}},{"guid":"168766e5710b","name":"lateralCarVibration","random":{"func":"integer","args":{"min":0,"max":20000}}},{"guid":"32655fdd46d4","name":"innerMotorTemp","random":{"func":"integer","args":{"min":170,"max":250}}},{"guid":"63c2fc5536d4","name":"currentA","random":{"func":"integer","args":{"min":0,"max":100}}},{"guid":"cdbaea8195ff","name":"minMotorVibration","defaultValue":{"type":"num","value":"300"}},{"guid":"6b071b4ae853","name":"maxMotorVibration","defaultValue":{"type":"num","value":"500"}},{"guid":"ec006a6080fb","name":"maxinnerMotorTemp","defaultValue":{"type":"num","value":"300"}},{"guid":"006650b3b187","name":"mininnerMotorTemp","defaultValue":{"type":"num","value":"50"}},{"guid":"4e88ee7b7db8","name":"currentAmoving","random":{"func":"integer","args":{"min":65,"max":95}}},{"guid":"21df66506855","name":"currentAstopping","random":{"func":"integer","args":{"min":125,"max":165}}},{"guid":"68a054d36908","name":"vibrationAdd","defaultValue":{"type":"num","value":"0"}}],"evts":[{"guid":"0612deed98b7","name":"Status","payload":{"properties":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"7":{},"8":{},"9":{},"10":{},"length":11,"prevObject":{"0":{"sizzle1487617499161":{"parentNode":[66519,45,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}},"length":1},"context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}}},"context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}}}}},{"guid":"21024c33b8dd","name":"Maintenance_event","payload":{"properties":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":{},"1":{},"length":2,"prevObject":{"0":{"sizzle1487617499161":{"parentNode":[66520,45,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}},"length":1},"context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}}},"context":{"sizzle1487617499161":{"parentNode":[66224.26235846813,27,true]}}}}}]},{"id":"45e919c5.dff928","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#313131","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#10cfd8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10009530.65bcbb","type":"ui_tab","z":"","name":"Elevator Simulator Dashboard : A.I.nstein","icon":"dashboard","order":0},{"id":"74a9f8df.aa5528","type":"ui_group","z":"","name":"Current Status","tab":"10009530.65bcbb","order":1,"disp":true,"width":"6"},{"id":"d3b95cec.e511f","type":"ui_group","z":"","name":"Simulator Settings","tab":"10009530.65bcbb","order":4,"disp":true,"width":"6"},{"id":"9867c796.4b7858","type":"ui_group","z":"","name":"Simulator Properties","tab":"10009530.65bcbb","order":6,"disp":true,"width":"6"},{"id":"4ec3830d.03368c","type":"ui_group","z":"","name":"Floor Selection","tab":"10009530.65bcbb","order":7,"disp":true,"width":"6"},{"id":"a08637ed.de91d8","type":"ui_group","z":"","name":"Select Elevator","tab":"10009530.65bcbb","order":3,"disp":true,"width":"6"},{"id":"f551d601.c95ff8","type":"ui_group","z":"","name":"Extra Current Status","tab":"10009530.65bcbb","order":2,"disp":true,"width":"6"},{"id":"74fdd812.b35158","type":"ui_group","z":"","name":"Explicit Setting (Anomaly Testing)","tab":"10009530.65bcbb","order":5,"disp":true,"width":"6"},{"id":"aa4b60d9.10abb","type":"ui_group","z":"","name":"HTTP Response","tab":"10009530.65bcbb","order":8,"disp":true,"width":"27"},{"id":"110304a7.c84fdb","type":"stop virtual device","z":"80844d23.1ebb8","name":"Stop Elevator","deviceId":"","schema":"433b10d9.bd724","x":797.6190910339355,"y":1840.0001602172852,"wires":[[]]},{"id":"f9b6cca8.a0eae","type":"start virtual device","z":"80844d23.1ebb8","name":"Start Elevator","deviceId":"","schema":"433b10d9.bd724","outputs":1,"x":379.8571472167969,"y":426,"wires":[["3a120fef.aaa5c"]]},{"id":"f4c55994.95def8","type":"generate event","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","evt":"0612deed98b7","name":"Send Status Event","x":698.1427917480469,"y":1291.9998779296875,"wires":[[]]},{"id":"df57d030.367a9","type":"comment","z":"80844d23.1ebb8","name":"Start Device","info":"","x":382.85715103149414,"y":382.4999990463257,"wires":[]},{"id":"7d7373af.f6feec","type":"comment","z":"80844d23.1ebb8","name":"Stop Device","info":"","x":149.83331298828125,"y":1798.2858047485352,"wires":[]},{"id":"716e648f.954cfc","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"check if not in maintenance state","func":"if(state === \"maintenance\"){\n    return [null, msg];\n}\nelse {\n    return [msg, msg];\n}","outputs":"2","noerr":0,"x":389.6786804199219,"y":1280.9998931884766,"wires":[["f4c55994.95def8"],["fd32722c.37e63"]]},{"id":"fd32722c.37e63","type":"delay","z":"80844d23.1ebb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":408.2143249511719,"y":1352.5713500976562,"wires":[["716e648f.954cfc"]]},{"id":"140192fa.1c03dd","type":"generate event","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","evt":"21024c33b8dd","name":"Send Maintenance Stop","x":871.2142333984375,"y":1482.2857666015625,"wires":[[]]},{"id":"7b0074c8.9ca72c","type":"comment","z":"80844d23.1ebb8","name":"Switch States","info":"","x":122.5,"y":572.6666488647461,"wires":[]},{"id":"d1208123.251db","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["1bd9b63f4b60"],"name":"On Maintenance Stop","x":184.5714111328125,"y":1482.1428699493408,"wires":[["a8d4aa87.a11c68"]]},{"id":"3a120fef.aaa5c","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"do initial settings","func":"//Set bad MotorTemp (15% likelihood)\nmotorTemp=Math.round(Math.random()*(maxMotorTemp-minMotorTemp)+minMotorTemp)\ninnermotorTemp=Math.round(Math.random()*(maxinnerMotorTemp-mininnerMotorTemp)+mininnerMotorTemp)\n\nvar outOfNormalRange = Math.random() * 100 < 15;\nif(outOfNormalRange){\n    maxMotorTemp = Math.floor(Math.random() * (220 - 185 + 1)) + 185;\n}\nreturn msg;","outputs":"1","noerr":0,"x":564.1190185546875,"y":447.5713920593262,"wires":[["658cec98.df02d4","6e5ff0be.afd9b","def000c2.d18b3"]]},{"id":"a8d4aa87.a11c68","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Reset maintenance reason ","func":"if(maintenanceStop === false){\n    maintenanceReason = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":436.42852783203125,"y":1482.4283447265625,"wires":[["7fcf495c.aa7a78"]]},{"id":"70be21fb.9e795","type":"comment","z":"80844d23.1ebb8","name":"*************************************** Device UI ***************************************","info":"","x":448.3570556640625,"y":1986.5,"wires":[]},{"id":"f9e8c577.3f16b8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":379.83327293395996,"y":3468.952136993408,"wires":[["340fe89d.4adea8","cbc6abf1.18f5b8","e3f065a0.194098","8a235f19.0a9d9","7d2efc6c.fc1d14","e236e059.731cc","681485fa.dd3cfc","1c4d2cd1.837bc3","44b0eb93.52bf24","225ffccd.417a24","3c86f97c.b37f46","e5f9193a.c7c658","7b2d782d.b8be98","7dfea5ec.f1637c","2948ec0e.cab794","26b6f86.e6c8908","afff741e.87db18","768e4cb5.cf3044","26161260.0c3c2e","21b01fe9.3114a","a5b68696.073e98","33942e9f.97e322","74092c75.131044","47e4cd96.bfa5e4","3281ac86.ebc564","ceda76c5.5540b8","7ddeeb04.bfba24","9709c5fd.fc2638","5d28bdb0.7a7334","35773d5e.2681f2","202b387.5e82cc8","7d1371fb.20108","c503b22f.180b5","c26ee3b3.4be28","5fca6790.584078","4d7f2137.a14cb","fcedc2bf.16ea3","84bde95.67bb318","9f01aac6.164628"]]},{"id":"340fe89d.4adea8","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.motorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470.9285430908203,"y":2692.1428661346436,"wires":[["3f0db275.22257e"]]},{"id":"cbc6abf1.18f5b8","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":9,"width":0,"height":0,"name":"Load","label":"load (kg)","format":"{{msg.payload.properties.load}}","layout":"row-left","x":552.0237636566162,"y":3653.666492462158,"wires":[]},{"id":"e3f065a0.194098","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":5,"width":0,"height":0,"name":"Cabin Speed","label":"Cabin Speed (feet/sec)","format":"{{msg.payload.properties.cabinSpeed}}","layout":"row-left","x":562.0237483978271,"y":3752.666492462158,"wires":[]},{"id":"8a235f19.0a9d9","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":6,"width":0,"height":0,"name":"State","label":"State","format":"{{msg.payload.properties.state}}","layout":"row-left","x":559.0237693786621,"y":3877.999824523926,"wires":[]},{"id":"7d2efc6c.fc1d14","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":8,"width":0,"height":0,"name":"Current Floor","label":"Current Floor","format":"{{msg.payload.properties.currentFloor}}","layout":"row-left","x":533.6904373168945,"y":3963.333086013794,"wires":[]},{"id":"e236e059.731cc","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":7,"width":0,"height":0,"name":"Door open","label":"Door open","format":"{{msg.payload.properties.doorOpen}}","layout":"row-left","x":548.0237503051758,"y":4005.999755859375,"wires":[]},{"id":"681485fa.dd3cfc","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":10,"width":0,"height":0,"name":"Direction","label":"Direction","format":"{{msg.payload.properties.direction === 1 ? \"UP\" : \"DOWN\"}}","layout":"row-left","x":627.3570976257324,"y":4049.666389465332,"wires":[]},{"id":"3f0db275.22257e","type":"ui_slider","z":"80844d23.1ebb8","name":"Motor Temp","label":"Motor Temp","group":"74fdd812.b35158","order":1,"width":0,"height":0,"passthru":false,"topic":"","min":"120","max":"220","step":"","x":661.6428070068359,"y":2688.428575515747,"wires":[["756050c1.c679c"]]},{"id":"9c7c9f6f.69566","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":311.9285430908203,"y":2688.1428661346436,"wires":[["340fe89d.4adea8"]]},{"id":"69f6e9e1.4ed188","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":335.0237674713135,"y":3653.666492462158,"wires":[["cbc6abf1.18f5b8"]]},{"id":"3b194ee5.8ee802","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":337.0237674713135,"y":3706.666492462158,"wires":[["74092c75.131044"]]},{"id":"f954d1ae.6bb9a","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":377.3571014404297,"y":3838.333076477051,"wires":[["e3f065a0.194098"]]},{"id":"239a1155.49af2e","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":373.3570976257324,"y":3881.333076477051,"wires":[["8a235f19.0a9d9"]]},{"id":"59d119a7.3e34e8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":380.3571014404297,"y":3960.333076477051,"wires":[["7d2efc6c.fc1d14"]]},{"id":"f0803d75.b637b","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":381.3571014404297,"y":4016.333076477051,"wires":[["e236e059.731cc"]]},{"id":"5440aeb.4e03f5","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":373.3571014404297,"y":4060.333076477051,"wires":[["681485fa.dd3cfc"]]},{"id":"756050c1.c679c","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":834.071418762207,"y":2690.000015258789,"wires":[["b1146209.f65a5"]]},{"id":"89406da6.8d8ba","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["e76a0e692587"],"name":"On motor temp change","x":122.92854309082031,"y":2687.142873764038,"wires":[["9c7c9f6f.69566"]]},{"id":"12b07bf8.98d994","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["bcca0e31b9d6"],"name":"On load  Change","x":158.02376747131348,"y":3652.666492462158,"wires":[["69f6e9e1.4ed188"]]},{"id":"ea45fd37.d4d88","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["80cc3cb81053"],"name":"On Cabin Temp  Change","x":169.02376747131348,"y":3701.666492462158,"wires":[["3b194ee5.8ee802"]]},{"id":"7b953d39.9e1ab4","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["40741d3132a4"],"name":"On Cabin Speed  Change","x":191.3571014404297,"y":3838.333076477051,"wires":[["f954d1ae.6bb9a"]]},{"id":"8d4ff26b.e64ab","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["745ce852562a"],"name":"On State Change","x":162.35709762573242,"y":3881.333076477051,"wires":[["239a1155.49af2e"]]},{"id":"4f2057b7.500d58","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["c2881d12e8f3"],"name":"On Current floor  Change","x":194.3571014404297,"y":3960.333076477051,"wires":[["59d119a7.3e34e8"]]},{"id":"713bdda1.ddfbb4","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["38416d39cffe"],"name":"On Door Open  Change","x":185.3571014404297,"y":4016.333076477051,"wires":[["f0803d75.b637b"]]},{"id":"89cbd122.13473","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["297fd95abda8"],"name":"On Direction Change","x":177.3571014404297,"y":4060.333076477051,"wires":[["5440aeb.4e03f5"]]},{"id":"b1146209.f65a5","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set motor Temp","propAll":false,"prop":"e76a0e692587","valueType":"msg","value":"payload","x":1020.7142868041992,"y":2691.1428689956665,"wires":[[]]},{"id":"e2118186.e134c","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":337.0237674713135,"y":3566.666492462158,"wires":[["47e4cd96.bfa5e4"]]},{"id":"a35c3339.e478","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["e76a0e692587"],"name":"On motor temp change","x":167.02376747131348,"y":3571.666492462158,"wires":[["e2118186.e134c"]]},{"id":"ebf136a7.2efa88","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["80cc3cb81053"],"name":"On Cabin Temp change","x":122.49997329711914,"y":2628.4285736083984,"wires":[["654d45c1.48baac"]]},{"id":"654d45c1.48baac","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":311.49997329711914,"y":2629.428565979004,"wires":[["1c4d2cd1.837bc3"]]},{"id":"1c4d2cd1.837bc3","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.cabinTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470.49997329711914,"y":2633.428565979004,"wires":[["6d6a6dc.5cc4794"]]},{"id":"6d6a6dc.5cc4794","type":"ui_slider","z":"80844d23.1ebb8","name":"Cabin Temp","label":"Cabin Temp","group":"74fdd812.b35158","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"60","max":"140","step":"","x":661.2142372131348,"y":2629.7142753601074,"wires":[["a7c6c076.77665"]]},{"id":"a7c6c076.77665","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":833.6428489685059,"y":2631.2857151031494,"wires":[["13e6bcb0.100943"]]},{"id":"13e6bcb0.100943","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Cabin Temp","propAll":false,"prop":"80cc3cb81053","valueType":"msg","value":"payload","x":1020.285717010498,"y":2632.428568840027,"wires":[[]]},{"id":"49ec722a.9e4efc","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Force Open Door Temp","propAll":false,"prop":"717226438586","valueType":"msg","value":"payload","x":1056.7142906188965,"y":2764.142868041992,"wires":[[]]},{"id":"cbb57ce4.6616d","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":847.2142562866211,"y":2760.142868041992,"wires":[["49ec722a.9e4efc"]]},{"id":"44b0eb93.52bf24","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.forceOpenDoor","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":482.6428871154785,"y":2759.4285926818848,"wires":[["b4e2fd46.c91fc"]]},{"id":"d5355676.adbcc8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":325.0714340209961,"y":2761.142873764038,"wires":[["44b0eb93.52bf24"]]},{"id":"ea17beb0.ad87","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["e76a0e692587"],"name":"On force door open change","x":138.92854690551758,"y":2760.1428728103638,"wires":[["d5355676.adbcc8"]]},{"id":"b4e2fd46.c91fc","type":"ui_switch","z":"80844d23.1ebb8","name":"Force Open Door","label":"Force Open Door","group":"d3b95cec.e511f","order":4,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":678.928539276123,"y":2759.857147216797,"wires":[["cbb57ce4.6616d"]]},{"id":"fad96b5e.892728","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set maintenance stop","propAll":false,"prop":"1bd9b63f4b60","valueType":"msg","value":"payload","x":1042.4285888671875,"y":2808.2857055664062,"wires":[[]]},{"id":"c91310f3.d145e","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":840.9285888671875,"y":2810.2857055664062,"wires":[["fad96b5e.892728","29ce05c.70c36fa"]]},{"id":"91849c73.f810c","type":"ui_switch","z":"80844d23.1ebb8","name":"maintenanceStop","label":"maintenanceStop","group":"d3b95cec.e511f","order":5,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":684.6428489685059,"y":2816.999984741211,"wires":[["c91310f3.d145e"]]},{"id":"225ffccd.417a24","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.maintenanceStop","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.3571968078613,"y":2816.571430206299,"wires":[["91849c73.f810c"]]},{"id":"23cfaf5d.4bbf5","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":330.7857437133789,"y":2818.285711288452,"wires":[["225ffccd.417a24"]]},{"id":"5f3d72bb.786b7c","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["1bd9b63f4b60"],"name":"On maintenanceStop change","x":144.6428565979004,"y":2817.285710334778,"wires":[["23cfaf5d.4bbf5"]]},{"id":"b7c0fd12.e62e4","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["bd4d2913cb07"],"name":"On Maintenance Reason Change","x":188.99998092651367,"y":4102.333076477051,"wires":[["38feaa41.1085c6"]]},{"id":"38feaa41.1085c6","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":397.9999809265137,"y":4100.333076477051,"wires":[["3c86f97c.b37f46"]]},{"id":"3c86f97c.b37f46","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":11,"width":0,"height":0,"name":"Maintenance Reason","label":"Maintenance Reason","format":"{{msg.payload.properties.maintenanceReason}}","layout":"row-left","x":595.3333015441895,"y":4105.999738693237,"wires":[]},{"id":"e5f9193a.c7c658","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":2,"width":0,"height":0,"name":"Max Motor Temp","label":"Max Motor Temp","format":"{{msg.payload.properties.maxMotorTemp}}","layout":"row-left","x":531.6666469573975,"y":3612.666492462158,"wires":[]},{"id":"6fcf2d51.6fda44","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":354.66664695739746,"y":3609.666492462158,"wires":[["e5f9193a.c7c658"]]},{"id":"6969bfc8.47e83","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["efd6898dd4db"],"name":"On max motor temp change","x":165.66664695739746,"y":3610.666492462158,"wires":[["6fcf2d51.6fda44"]]},{"id":"83572518.20f528","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["efd6898dd4db"],"name":"On Max Motor temp change","x":135,"y":2724,"wires":[["767a858.a3e457c"]]},{"id":"767a858.a3e457c","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":323,"y":2724.9999923706055,"wires":[["7dfea5ec.f1637c"]]},{"id":"7dfea5ec.f1637c","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.maxMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":483,"y":2725,"wires":[["563c0c3c.d9dd04"]]},{"id":"563c0c3c.d9dd04","type":"ui_slider","z":"80844d23.1ebb8","name":"Max Motor Temp","label":"Max Motor Temp","group":"d3b95cec.e511f","order":6,"width":0,"height":0,"passthru":false,"topic":"","min":"141","max":"220","x":692.7142639160156,"y":2725.285701751709,"wires":[["5089b8e6.d59f18"]]},{"id":"5089b8e6.d59f18","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":845.1428756713867,"y":2726.857141494751,"wires":[["97f313b4.7b04b"]]},{"id":"97f313b4.7b04b","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set max motor Temp","propAll":false,"prop":"efd6898dd4db","valueType":"msg","value":"payload","x":1051.785743713379,"y":2727.9999952316284,"wires":[[]]},{"id":"6c73424c.905a1c","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["c15961c2f7bf"],"name":"On Next Stop","x":155.99998092651367,"y":3926.333076477051,"wires":[["9d9898af.6386d8"]]},{"id":"9d9898af.6386d8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":381.9999809265137,"y":3926.333076477051,"wires":[["2948ec0e.cab794"]]},{"id":"2948ec0e.cab794","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":14,"width":0,"height":0,"name":"Next Stop","label":"Next Stop","format":"{{msg.payload.properties.gotoFloor}}","layout":"row-left","x":535.3333015441895,"y":3927.666399002075,"wires":[]},{"id":"7692c9e7.5a1928","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["bcca0e31b9d6"],"name":"On load change","x":108.33332824707031,"y":2583.3333320617676,"wires":[["d75596dc.430728"]]},{"id":"d75596dc.430728","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":317.3333282470703,"y":2584.333324432373,"wires":[["7b2d782d.b8be98"]]},{"id":"7b2d782d.b8be98","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.load","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":476.3333282470703,"y":2588.333324432373,"wires":[["317f98d1.e1ad98"]]},{"id":"317f98d1.e1ad98","type":"ui_slider","z":"80844d23.1ebb8","name":"Load","label":"Load","group":"d3b95cec.e511f","order":3,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"2000","x":647.0475921630859,"y":2584.6190338134766,"wires":[["e365dee9.1a41b"]]},{"id":"e365dee9.1a41b","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":839.476203918457,"y":2586.1904735565186,"wires":[["39151769.432cf8"]]},{"id":"39151769.432cf8","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Load","propAll":false,"prop":"bcca0e31b9d6","valueType":"msg","value":"payload","x":1006.1190719604492,"y":2587.333327293396,"wires":[[]]},{"id":"f52ac7ba.538e38","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["438e94df7c4a"],"name":"On Min Motor temp change","x":141.66665649414062,"y":2875,"wires":[["3a2280f4.2ba8b"]]},{"id":"3a2280f4.2ba8b","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":329.6666564941406,"y":2875.9999923706055,"wires":[["26b6f86.e6c8908"]]},{"id":"26b6f86.e6c8908","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.minMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":492.6666564941406,"y":2876,"wires":[["8c288a7c.6cf868"]]},{"id":"8c288a7c.6cf868","type":"ui_slider","z":"80844d23.1ebb8","name":"Min Motor Temp","label":"Min Motor Temp","group":"d3b95cec.e511f","order":7,"width":0,"height":0,"passthru":false,"topic":"","min":"100","max":"140","x":689.3809204101562,"y":2876.285701751709,"wires":[["c650af91.7b7f2"]]},{"id":"c650af91.7b7f2","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":851.8095321655273,"y":2877.857141494751,"wires":[["6b9052de.f5c57c"]]},{"id":"6b9052de.f5c57c","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set min motor Temp","propAll":false,"prop":"438e94df7c4a","valueType":"msg","value":"payload","x":1058.4524002075195,"y":2878.9999952316284,"wires":[[]]},{"id":"afff741e.87db18","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":1,"width":0,"height":0,"name":"Min Motor Temp","label":"Min Motor Temp","format":"{{msg.payload.properties.minMotorTemp}}","layout":"row-left","x":782.9999446868896,"y":3499.3331184387207,"wires":[]},{"id":"49948ffa.36f45","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":367.9999752044678,"y":3523.333148956299,"wires":[["afff741e.87db18"]]},{"id":"d910267a.dff7c8","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["438e94df7c4a"],"name":"On min motor temp change","x":178.99997520446777,"y":3524.333148956299,"wires":[["49948ffa.36f45"]]},{"id":"6d5525b5.a3c8dc","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["2b397533cfa2"],"name":"curtainOfLightBreak Change","x":178.99998092651367,"y":4174.333076477051,"wires":[["4202e6ad.bc58f8"]]},{"id":"4202e6ad.bc58f8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":397.9999809265137,"y":4172.333076477051,"wires":[["768e4cb5.cf3044"]]},{"id":"768e4cb5.cf3044","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":13,"width":0,"height":0,"name":"curtain Of Light Break","label":"Curtain Of LightBreak","format":"{{msg.payload.properties.curtainOfLightBreak}}","layout":"row-left","x":595.3333015441895,"y":4177.999738693237,"wires":[]},{"id":"b24deb07.9e2af8","type":"ui_gauge","z":"80844d23.1ebb8","name":"","group":"74a9f8df.aa5528","order":2,"width":0,"height":0,"gtype":"gage","title":"Motor Temp","label":"Motor Temp","format":"{{value | number:1}}°F","min":"130","max":"200.00","colors":["#00b500","#e6e600","#ca3838"],"x":1044.1666316986084,"y":3581.666492462158,"wires":[]},{"id":"253eb8ce.e28c98","type":"ui_gauge","z":"80844d23.1ebb8","name":"","group":"74a9f8df.aa5528","order":4,"width":0,"height":0,"gtype":"gage","title":"Cabin Temp","label":"°F","format":"{{value}}°F","min":"50","max":"140","colors":["#00b500","#e6e600","#ca3838"],"x":1050.2916927337646,"y":3631.791492462158,"wires":[]},{"id":"ae38d77e.c134c8","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set maintenance Reason","propAll":false,"prop":"bd4d2913cb07","valueType":"msg","value":"payload","x":1166,"y":2843,"wires":[[]]},{"id":"29ce05c.70c36fa","type":"change","z":"80844d23.1ebb8","name":"Set maintenance reason ","rules":[{"t":"set","p":"payload","pt":"msg","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":927.5,"y":2843,"wires":[["ae38d77e.c134c8"]]},{"id":"26161260.0c3c2e","type":"ui_text","z":"80844d23.1ebb8","group":"74a9f8df.aa5528","order":12,"width":0,"height":0,"name":"cleanessOfFloor","label":"Cleaness of floor","format":"{{msg.payload.properties.cleanessOfFloor}}","layout":"row-left","x":575.3333015441895,"y":4231.333076477051,"wires":[]},{"id":"d04e0297.3438b","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":397.9999809265137,"y":4225.666414260864,"wires":[["26161260.0c3c2e"]]},{"id":"917b89bd.265288","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["299639e87d50"],"name":"cleanessOfFloor Change","x":168.99998092651367,"y":4227.666414260864,"wires":[["d04e0297.3438b"]]},{"id":"b9f40a0e.e24e58","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["459e0d4c3af6"],"name":"On curtainOfLightBreakRate","x":161.66665649414062,"y":2948.3333129882812,"wires":[["e856bd85.f43ec"]]},{"id":"e856bd85.f43ec","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":349.6666564941406,"y":2949.3333053588867,"wires":[["21b01fe9.3114a"]]},{"id":"21b01fe9.3114a","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.minMotorVibration","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":509.6666564941406,"y":2949.3333129882812,"wires":[["86592660.574228"]]},{"id":"86592660.574228","type":"ui_slider","z":"80844d23.1ebb8","name":"Curtain of Light Break Rate","label":"Curtain of Light Break Rate","group":"d3b95cec.e511f","order":8,"width":0,"height":0,"passthru":false,"topic":"","min":"10","max":"20","x":751.0475769042969,"y":2957.9523487091064,"wires":[["dd49cae9.907488"]]},{"id":"dd49cae9.907488","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":938.476188659668,"y":2944.523780822754,"wires":[["2b5d69d1.3f32c6"]]},{"id":"2b5d69d1.3f32c6","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Curtain of Light Break Rate","propAll":false,"prop":"cdbaea8195ff","valueType":"msg","value":"payload","x":1158.452392578125,"y":2945.666633605957,"wires":[[]]},{"id":"a5b68696.073e98","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":7,"width":0,"height":0,"name":"Curtain of Light Break Rate","label":"Curtain of Light Break Rate","format":"{{msg.payload.properties.curtainOfLightBreakRate}}","layout":"row-left","x":781.9999809265137,"y":4297.999753952026,"wires":[]},{"id":"68901c1e.80bce4","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":479.66665267944336,"y":4292.333086013794,"wires":[["a5b68696.073e98"]]},{"id":"20c0a8c5.7891b8","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["459e0d4c3af6"],"name":"On Curtain of Light Break Rate Change","x":208.99998092651367,"y":4297.666414260864,"wires":[["68901c1e.80bce4"]]},{"id":"33942e9f.97e322","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":8,"width":0,"height":0,"name":"floorStopReq","label":"Next Stops","format":"{{msg.payload.properties.floorStopReq}}","layout":"row-left","x":731.9999809265137,"y":4361.333076477051,"wires":[]},{"id":"53d3de8f.3025a","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":479.66665267944336,"y":4355.666408538818,"wires":[["33942e9f.97e322"]]},{"id":"a1068308.9c447","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["7fa0c8927a50"],"name":"On Floor Req Change","x":158.99998092651367,"y":4360.999736785889,"wires":[["53d3de8f.3025a"]]},{"id":"7cd2c528.e12b1c","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":2,"width":"1","height":"1","label":"0","color":"","icon":"","payload":"0","payloadType":"num","topic":"","x":97.35713577270508,"y":2178.571216583252,"wires":[["df1dbbb0.32c0d8"]]},{"id":"caf5b22d.be023","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":3,"width":"1","height":"1","label":"1","color":"","icon":"","payload":"1","payloadType":"num","topic":"","x":101.85713577270508,"y":2212.571216583252,"wires":[["df1dbbb0.32c0d8"]]},{"id":"ae0fc03f.3afea","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":4,"width":"1","height":"1","label":"2","color":"","icon":"","payload":"2","payloadType":"num","topic":"","x":103.85713577270508,"y":2245.571216583252,"wires":[["df1dbbb0.32c0d8"]]},{"id":"37cee4cb.d1c08c","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":5,"width":"1","height":"1","label":"3","color":"","icon":"","payload":"3","payloadType":"num","topic":"","x":104.85713577270508,"y":2279.571216583252,"wires":[["df1dbbb0.32c0d8"]]},{"id":"f74af01a.905ff","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":6,"width":"1","height":"1","label":"4","color":"","icon":"","payload":"4","payloadType":"num","topic":"","x":105.85713577270508,"y":2314.571216583252,"wires":[["df1dbbb0.32c0d8"]]},{"id":"ca3fafca.89c35","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":7,"width":"1","height":"1","label":"5","color":"","icon":"","payload":"5","payloadType":"num","topic":"","x":109.85713577270508,"y":2348.571216583252,"wires":[["df1dbbb0.32c0d8"]]},{"id":"85575f5e.84a22","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"4ec3830d.03368c","order":8,"width":"1","height":"1","label":"6","color":"","icon":"","payload":"6","payloadType":"num","topic":"","x":105.14285278320312,"y":2382.0000286102295,"wires":[["df1dbbb0.32c0d8"]]},{"id":"df1dbbb0.32c0d8","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":306.8571357727051,"y":2239.571216583252,"wires":[["964bd28.a0e403"]]},{"id":"964bd28.a0e403","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Add floor stop","func":"floorStopReq.push(msg.payload);\nfloorStopReq.touch();\nreturn msg;","outputs":1,"noerr":0,"x":515.3571357727051,"y":2236.571216583252,"wires":[[]]},{"id":"47e4cd96.bfa5e4","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.motorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":844.2856502532959,"y":3588.999988555908,"wires":[["b24deb07.9e2af8"]]},{"id":"74092c75.131044","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.cabinTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":874.2856502532959,"y":3654.9998664855957,"wires":[["253eb8ce.e28c98"]]},{"id":"28f1f603.76b37a","type":"link in","z":"80844d23.1ebb8","name":"Reset Values","links":["208b03c8.73255c","a78afde1.b7ab1"],"x":251.14284324645996,"y":3475.666492462158,"wires":[["f9e8c577.3f16b8"]]},{"id":"5e3d28d5.1be008","type":"comment","z":"80844d23.1ebb8","name":"Reset values (when a devices is created or active device is changed","info":"","x":371.6666564941406,"y":3417.1430282592773,"wires":[]},{"id":"7022388f.a17f98","type":"comment","z":"80844d23.1ebb8","name":"Send 'Status' event each 5 sec if not in Maintenance State","info":"","x":551.6431274414062,"y":1251.952392578125,"wires":[]},{"id":"658cec98.df02d4","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set state to idle","propAll":false,"prop":"745ce852562a","valueType":"str","value":"idle","x":834.0714111328125,"y":457.0476303100586,"wires":[["b3cee6fb.3de048"]]},{"id":"c861c152.bbcb6","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set state to off","propAll":false,"prop":"745ce852562a","valueType":"str","value":"off","x":596.4523391723633,"y":1843.4167861938477,"wires":[["110304a7.c84fdb"]]},{"id":"7fcf495c.aa7a78","type":"delay","z":"80844d23.1ebb8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640.7856750488281,"y":1482.2857666015625,"wires":[["140192fa.1c03dd"]]},{"id":"149c6e49.d54c82","type":"switch","z":"80844d23.1ebb8","name":"Switch State","property":"payload.properties.state","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"moving","vt":"str"},{"t":"eq","v":"stopped","vt":"str"},{"t":"eq","v":"loading","vt":"str"},{"t":"eq","v":"maintenance","vt":"str"}],"checkall":"true","outputs":5,"x":234.78570556640625,"y":670.333381652832,"wires":[["1e05129d.4a01dd"],["77f03753.dd4588"],["5248692c.6cf6e8"],["83234016.f3377"],["63a0d8c2.bb8ce8"]]},{"id":"1e05129d.4a01dd","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"idle","func":"if(!forceOpenDoor)\n    doorOpen = false;\ndirection = 0;\n//cool down motor\nmotorVibration=0;\ncurrentA=2;\nmotorTemp = motorTemp - 0.05;\ninnerMotorTemp = innerMotorTemp - 0.05;\nreturn msg;\n","outputs":"1","noerr":0,"x":485.952392578125,"y":686.0000534057617,"wires":[["11d55445.175f4c"]]},{"id":"63a0d8c2.bb8ce8","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Maintenance ","func":"doorOpen = true;\ndirection = 0;\nvar newMotorTemp = motorTemp - 0.2;\nmotorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp : newMotorTemp;\n;\nreturn msg;","outputs":1,"noerr":0,"x":482.9523620605469,"y":1096.333396911621,"wires":[["597f8825.121ef8"]]},{"id":"597f8825.121ef8","type":"delay","z":"80844d23.1ebb8","name":"maintenance Stop For 10 minutes ","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":735.6190185546875,"y":1095.000144958496,"wires":[["bce7b1e8.1590c"]]},{"id":"bce7b1e8.1590c","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Done Maintenance Stop","func":"if(maintenanceStop){//if still in maintenanceStop (was not canceled)\n    maintenanceStop = false;\n    maintenanceReason = \"\";\n    return msg;\n}\nelse\n    return null;","outputs":"1","noerr":0,"x":1010.6190185546875,"y":1094.0000839233398,"wires":[["5dcdfff9.5d6e2"]]},{"id":"5dcdfff9.5d6e2","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"calc next state","func":"var nextState = null;\nswitch(state){\ncase \"idle\":\n\tif(maintenanceStop){\n\t\tnextState = \"maintenance\";\n\t}\n\telse if(floorStopReq.length > 0){\n\t\tnextState = \"moving\";\t\t\n\t}\n\telse{\n\t\tnextState = \"idle\"\n\t}\n\tbreak;\n\t\ncase \"moving\":\n\tnextState = \"stopped\";\n\tbreak;\n\t\ncase \"stopped\":\n\tnextState = \"loading\";\n\tbreak;\n\t\ncase \"loading\":\n\tif(maintenanceStop){\n\t\tnextState = \"maintenance\";\n\t}\n\telse if(floorStopReq.length > 0){\n\t\tnextState = \"moving\";\t\t\n\t}\n\telse{\n\t\tnextState = \"idle\";\t\t\n\t}\n\tbreak;\n\t\ncase \"maintenance\":\n\tnextState = \"idle\";\n\tbreak;\n\t\ndefault:\n    var err = \"unknow state: \" + state;\n    node.error(err);\n\tnode.status({fill:\"red\",shape:\"ring\",text: err});\n\treturn null;\n}\nnode.status({fill:\"green\",shape:\"ring\",text: msg.deviceId + \":\" + nextState});\nmsg.payload.properties = {state: nextState};\nreturn msg;","outputs":1,"noerr":0,"x":1148.4522857666016,"y":778.1111907958984,"wires":[["715d6293.25c29c"]]},{"id":"dd04a97d.557568","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"moving","func":"//increase cabin speed\nif(cabinSpeed <15){\ncabinSpeed = ( (cabinSpeed + 4) <= 14) ? cabinSpeed + 4 : 14;\n}\n\n//Increase Motor Vibration\nvar newMotorVibration=motorVibration+10;\nmotorVibration = (newMotorVibration < minMotorVibration) ? minMotorVibration : (newMotorVibration > maxMotorVibration) ? maxMotorVibration :newMotorVibration;\n//increase motor tepm\nmotorTemp = motorTemp + 0.02;\ninnerMotorTemp = innerMotorTemp+0.02;\n\n//update current floor\nvar nextFloor = currentFloor + direction;\ncurrentA=currentA+3;\n//make sure floor is in range \nif(nextFloor < 0){\n    direction = 1;\n    currentFloor = 0;\n} \nelse if(nextFloor > numberOfFloors){\n    direction = -1;\n    currentFloor = numberOfFloors;\n}\nelse{//set as current floor\n    currentFloor = nextFloor;\n}\n\n//if maintenanceStop is set the stop at this floor\nif(maintenanceStop)\n    gotoFloor = currentFloor;\n\n//check if need to stop\nif(currentFloor === gotoFloor){\n    return [msg, null];//stop\n}\nelse{//keep moving\n    return [null,msg];//keep moving \n}\n","outputs":"2","noerr":0,"x":902.0475654602051,"y":759.7302551269531,"wires":[["5dcdfff9.5d6e2"],["fb923103.0f5e3"]]},{"id":"fb923103.0f5e3","type":"delay","z":"80844d23.1ebb8","name":"moving 3 sec per floor ","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850.8411483764648,"y":855.5556840896606,"wires":[["dd04a97d.557568"]]},{"id":"77f03753.dd4588","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"moving (start)","func":"currentA=currentAmoving;\ncabinSpeed=4;\nmotorVibration=Math.round(Math.random() * (maxMotorVibration - minMotorVibration)+minMotorVibration)+vibrationAdd;\ndirection = (gotoFloor > currentFloor) ? 1 : -1;\nreturn msg;","outputs":"1","noerr":0,"x":497.2856750488281,"y":793.3334884643555,"wires":[["6a021fe8.90eee"]]},{"id":"6a021fe8.90eee","type":"delay","z":"80844d23.1ebb8","name":"Start moving  3 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":697.2856750488281,"y":795.3334884643555,"wires":[["dd04a97d.557568"]]},{"id":"11d55445.175f4c","type":"delay","z":"80844d23.1ebb8","name":"Ideal state 2 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":691.2857055664062,"y":687.3333969116211,"wires":[["5dcdfff9.5d6e2"]]},{"id":"5248692c.6cf6e8","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Stopping","func":"currentA=currentAstopping;\nmotorVibration=20+vibrationAdd;\ndoorOpen = true;\ngotoFloor=floorStopReq[0]; //First stop \nfloorStopReq.splice(0, 1);\ncabinSpeed = 0;\nreturn msg;\n\n","outputs":"1","noerr":0,"x":480.619140625,"y":922.3333969116211,"wires":[["e97d5930.859c58"]]},{"id":"e97d5930.859c58","type":"delay","z":"80844d23.1ebb8","name":"stopped state 2 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720.6190490722656,"y":924.3333969116211,"wires":[["5dcdfff9.5d6e2"]]},{"id":"83234016.f3377","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"loading","func":"currentA=2;\n//if in maintenanceStop put all people out\nmotorVibration=0;\nif(maintenanceStop){\n    load = 0;\n    return msg;\n}\n\n//else load & unload poeple (70kg avg each)\nvar minPersonsIn = (load === 0) ? 1 : 0;\nvar personsIn = Math.floor(Math.random() * (4 - minPersonsIn + 1)) + minPersonsIn;\nvar personsOut = Math.floor(Math.random() * (Math.floor(load/70) + 1));\nvar newLoad = load + (personsIn*70) - (personsOut*70);\nload = (newLoad < 0) ? 0 : newLoad;\n\n//curtainOfLightBreak every 10 stops \nif(curtainOfLightBreak !== 1){\n    curtainOfLightBreakCount++;\n    if(curtainOfLightBreakCount === curtainOfLightBreakRate){\n        curtainOfLightBreakCount = 0;\n        curtainOfLightBreak = 1;\n    }\n}\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":478.28570556640625,"y":1018.0000228881836,"wires":[["9260f415.3bc538"]]},{"id":"9260f415.3bc538","type":"delay","z":"80844d23.1ebb8","name":"loading state 1 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":663.9524459838867,"y":1017.6666946411133,"wires":[["edccffd.736ff"]]},{"id":"edccffd.736ff","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"reset curtainOfLightBreak","func":"curtainOfLightBreak = 0;\nreturn msg;","outputs":"1","noerr":0,"x":901.5952758789062,"y":1019.6666793823242,"wires":[["5dcdfff9.5d6e2"]]},{"id":"9d235033.8b1e7","type":"comment","z":"80844d23.1ebb8","name":"Idle State","info":"","x":475.9523620605469,"y":648.6666488647461,"wires":[]},{"id":"c4a3c689.5ca738","type":"comment","z":"80844d23.1ebb8","name":"Moving State","info":"","x":488.9523620605469,"y":760.6666564941406,"wires":[]},{"id":"60e2be84.221be","type":"comment","z":"80844d23.1ebb8","name":"Stopping State","info":"","x":494.9523620605469,"y":889.6666793823242,"wires":[]},{"id":"c9016e22.a371","type":"comment","z":"80844d23.1ebb8","name":"Loading State","info":"","x":483.9523620605469,"y":983.6666870117188,"wires":[]},{"id":"7e545189.d5e4d","type":"comment","z":"80844d23.1ebb8","name":"Maintenance State","info":"","x":506.9523620605469,"y":1063.6666870117188,"wires":[]},{"id":"b665ade7.a8a88","type":"link in","z":"80844d23.1ebb8","name":"Switch State","links":["b3cee6fb.3de048"],"x":179.11903381347656,"y":602.0000228881836,"wires":[["149c6e49.d54c82"]]},{"id":"b3cee6fb.3de048","type":"link out","z":"80844d23.1ebb8","name":"Switch State","links":["b665ade7.a8a88"],"x":1240.4048500061035,"y":633.3333225250244,"wires":[]},{"id":"40b0b67e.0b3578","type":"comment","z":"80844d23.1ebb8","name":"Switch States","info":"","x":1330.2380828857422,"y":631.6666622161865,"wires":[]},{"id":"648d1a49.7f65c4","type":"comment","z":"80844d23.1ebb8","name":"Send Events","info":"","x":134.23807525634766,"y":1204.952392578125,"wires":[]},{"id":"6dc9d167.aaf92","type":"link in","z":"80844d23.1ebb8","name":"Send Events","links":["6e5ff0be.afd9b"],"x":167.1904754638672,"y":1242.90478515625,"wires":[["716e648f.954cfc"]]},{"id":"6e5ff0be.afd9b","type":"link out","z":"80844d23.1ebb8","name":"Send Events","links":["6dc9d167.aaf92"],"x":733.6189575195312,"y":377.5238037109375,"wires":[]},{"id":"28a22150.12ca7e","type":"comment","z":"80844d23.1ebb8","name":"Start Status Events","info":"","x":844.5237731933594,"y":379.09525299072266,"wires":[]},{"id":"dda53a40.816aa8","type":"comment","z":"80844d23.1ebb8","name":"Send 'Maintenance' event when occured","info":"","x":238.6666259765625,"y":1444.6667442321777,"wires":[]},{"id":"715d6293.25c29c","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set state ","propAll":false,"prop":"745ce852562a","valueType":"msg","value":"payload.properties.state","x":1246.2857246398926,"y":717.2500057220459,"wires":[["b3cee6fb.3de048"]]},{"id":"c35dffe7.b316e","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["1bd9b63f4b60"],"name":"On Maintenance Stop Change","x":834.9523010253906,"y":1145.0000305175781,"wires":[["2277786e.d52198"]]},{"id":"2277786e.d52198","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"on Cancel Maintenance Stop ","func":"if(maintenanceStop === false && state === \"maintenance\")\n    return msg;\nelse\n    return null;","outputs":"1","noerr":0,"x":1123.9523010253906,"y":1144.3334045410156,"wires":[["5dcdfff9.5d6e2"]]},{"id":"58fadc13.60f484","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["3e84a9a94615"],"name":"On auto floors selection change","x":145,"y":2487,"wires":[["ce0c142c.e122f8"]]},{"id":"ce0c142c.e122f8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":341.1428871154785,"y":2490.0000009536743,"wires":[["3281ac86.ebc564"]]},{"id":"3281ac86.ebc564","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.autoFloorSelection","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":498.71434020996094,"y":2488.285719871521,"wires":[["2e575794.4dc3c8"]]},{"id":"2e575794.4dc3c8","type":"ui_switch","z":"80844d23.1ebb8","name":"Auto Floors Selection","label":"Auto Floors Selection","group":"4ec3830d.03368c","order":1,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":704.9999923706055,"y":2488.714274406433,"wires":[["693234e1.d842cc"]]},{"id":"693234e1.d842cc","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":873.2857360839844,"y":2485,"wires":[["e6361721.b5a078"]]},{"id":"e6361721.b5a078","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set auto floors selection ","propAll":false,"prop":"3e84a9a94615","valueType":"msg","value":"payload","x":1074.7857360839844,"y":2476,"wires":[[]]},{"id":"def000c2.d18b3","type":"link out","z":"80844d23.1ebb8","name":"Auto Floor Selection","links":["71e1e28a.d7a07c","56a74148.0398f"],"x":718.2857055664062,"y":518.6666488647461,"wires":[]},{"id":"9b32254c.be9a98","type":"comment","z":"80844d23.1ebb8","name":"Auto Floor Selection","info":"","x":847.476318359375,"y":583.3809204101562,"wires":[]},{"id":"56a74148.0398f","type":"link in","z":"80844d23.1ebb8","name":"Auto Floor Selection","links":["def000c2.d18b3"],"x":104.61895942687988,"y":1574.666591644287,"wires":[["5573501b.de7c5"]]},{"id":"29fb7321.52884c","type":"comment","z":"80844d23.1ebb8","name":"Auto Floor Selection","info":"","x":173.94050216674805,"y":1539.1546268463135,"wires":[]},{"id":"366ae03d.3afe7","type":"delay","z":"80844d23.1ebb8","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":693.1189880371094,"y":1590.4166259765625,"wires":[["5573501b.de7c5"]]},{"id":"5573501b.de7c5","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Add floor stop","func":"if(!autoFloorSelection)//autoFloorSelection disabled\n    return msg;\n    \nvar floor = Math.floor(Math.random() * (numberOfFloors - 1));\nif(floorStopReq.indexOf(floor) === -1){\n    floorStopReq.push(floor);\n    floorStopReq.touch();\n}\nreturn msg;","outputs":1,"noerr":0,"x":381.1190185546875,"y":1576.1666259765625,"wires":[["366ae03d.3afe7"]]},{"id":"12865df2.9b7a82","type":"function","z":"80844d23.1ebb8","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":195.03571319580078,"y":423.83333015441895,"wires":[["f9b6cca8.a0eae"]]},{"id":"a8b198d6.1c2088","type":"function","z":"80844d23.1ebb8","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":397.53570556640625,"y":1843.8334140777588,"wires":[["c861c152.bbcb6"]]},{"id":"86b7fc35.160a7","type":"inject","z":"80844d23.1ebb8","name":"stop 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":false,"x":182.3928565979004,"y":1839.2500381469727,"wires":[["a8b198d6.1c2088"]]},{"id":"a7dc8e95.70d58","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"get active device properties","propAll":true,"prop":"9f9135f2be17","valueType":"msg","value":"payload","x":1061.0235290527344,"y":2121.3333740234375,"wires":[["a78afde1.b7ab1"]]},{"id":"1d707bb4.400834","type":"function","z":"80844d23.1ebb8","name":"Change active Device","func":"flow.set(\"deviceId\",msg.payload);\nreturn {payload:{deviceId:msg.payload}};","outputs":1,"noerr":0,"x":788.0951232910156,"y":2120.4881591796875,"wires":[["a7dc8e95.70d58"]]},{"id":"ab4dff6b.8a693","type":"function","z":"80844d23.1ebb8","name":"add device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\") || null;\nvar deviceId = msg.payload.deviceId;\nnode.log(msg.payload.deviceId);\nif (devices.indexOf(deviceId) < 0)\n{\n    devices.push(msg.payload.deviceId);\n    flow.set(\"activeDevices\", devices);\n    if (selectedId === null)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n    }\n}\n\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":325.78570556640625,"y":2099.2025146484375,"wires":[["71563c7a.1a34d4"]]},{"id":"e195b35a.2fbbb","type":"function","z":"80844d23.1ebb8","name":"remove device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\");\n\nvar deviceId = msg.payload.deviceId;\nvar index = devices.indexOf(deviceId);\nif (index >= 0)\n{\n    devices.splice(index,1);\n    flow.set(\"activeDevices\", devices);\n\n    if (selectedId === deviceId)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n       \n    }\n}\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":315.8571472167969,"y":2151.631103515625,"wires":[["71563c7a.1a34d4"]]},{"id":"827e7476.17b778","type":"device listener","z":"80844d23.1ebb8","monitor":"start","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"433b10d9.bd724","props":[],"name":"device started","x":101.92855072021484,"y":2064.6312255859375,"wires":[["ab4dff6b.8a693","a78afde1.b7ab1"]]},{"id":"bae9f9da.5241b8","type":"device listener","z":"80844d23.1ebb8","monitor":"stop","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"","props":[],"name":"device deleted","x":107,"y":2117.0594482421875,"wires":[["e195b35a.2fbbb"]]},{"id":"71563c7a.1a34d4","type":"ui_dropdown","z":"80844d23.1ebb8","name":"Select instance","label":"Select Device instance","group":"a08637ed.de91d8","order":9,"width":"0","height":"0","options":[{"label":"","value":""}],"payload":"","topic":"","x":577.1427917480469,"y":2123.34521484375,"wires":[["1d707bb4.400834"]]},{"id":"a78afde1.b7ab1","type":"link out","z":"80844d23.1ebb8","name":"Reset Values","links":["28f1f603.76b37a"],"x":1330.4047546386719,"y":2070.297607421875,"wires":[]},{"id":"3c667c06.d40f74","type":"comment","z":"80844d23.1ebb8","name":"Set properties in UI","info":"","x":1441.6666259765625,"y":2066.666748046875,"wires":[]},{"id":"dcfa9963.cdb778","type":"comment","z":"80844d23.1ebb8","name":"**************************************** Device Behavior ****************************************","info":"","x":470,"y":43,"wires":[]},{"id":"2d04f758.c65e68","type":"function","z":"80844d23.1ebb8","name":"Register Elevators","func":"var payload = msg.payload;\nvar orgid = flow.get(\"orgid\");\n\nmsg = {\n    url:\"https://\" + orgid + \".internetofthings.ibmcloud.com/api/v0002/device/types/Elevator/devices\",\n    payload: payload,\n    headers:{\n        \"Accept\":\"application/json\",\n        \"Content-type\":\"application/json\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":670.11669921875,"y":175.11666870117188,"wires":[["732558af.903288"]]},{"id":"732558af.903288","type":"http request","z":"80844d23.1ebb8","name":"Send to Watson IoT Platform","method":"POST","ret":"txt","url":"","tls":"","x":824.1167297363281,"y":255.31668090820312,"wires":[[]]},{"id":"32f6e3db.2b2d5c","type":"function","z":"80844d23.1ebb8","name":"Form register Payload","func":"var result = [];\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    result.push({payload:{deviceId:deviceId}});\n}\nreturn [result];","outputs":1,"noerr":0,"x":422.0667419433594,"y":175.20004272460938,"wires":[["2d04f758.c65e68"]]},{"id":"48cb1509.c8f75c","type":"function","z":"80844d23.1ebb8","name":"Set organization ID","func":"flow.set(\"orgid\", \"yq8qg5\");\nreturn msg;","outputs":1,"noerr":0,"x":430.0667419433594,"y":117.20002746582031,"wires":[["86b2cd2.e381e3"]]},{"id":"86b2cd2.e381e3","type":"function","z":"80844d23.1ebb8","name":"Register Elevator Type","func":"var orgid = flow.get(\"orgid\");\n\nmsg = {\n    url:\"https://\" + orgid + \".internetofthings.ibmcloud.com/api/v0002/device/types\",\n    payload: {\"id\":\"Elevator\"},\n    headers:{\n        \"Accept\":\"application/json\",\n        \"Content-type\":\"application/json\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":693.7333984375,"y":118.03335571289062,"wires":[["732558af.903288"]]},{"id":"6a2ad11c.a7af9","type":"inject","z":"80844d23.1ebb8","name":"start 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":true,"x":144.11666870117188,"y":111,"wires":[["48cb1509.c8f75c","12865df2.9b7a82","2efb6f84.94b4e"]]},{"id":"2efb6f84.94b4e","type":"delay","z":"80844d23.1ebb8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380.4499816894531,"y":233.78334045410156,"wires":[["32f6e3db.2b2d5c"]]},{"id":"bd794aba.245058","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Maintenance Stop","propAll":false,"prop":"1bd9b63f4b60","valueType":"msg","value":"payload.stop","x":483.6191101074219,"y":1706.5714263916016,"wires":[[]]},{"id":"91df4204.6aa5","type":"comment","z":"80844d23.1ebb8","name":"Handle maintenance commands","info":"","x":218.49993896484375,"y":1636.000005722046,"wires":[]},{"id":"a8aebaa4.3ed518","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Maintenance Reason","propAll":false,"prop":"bd4d2913cb07","valueType":"msg","value":"payload.reason","x":486.9762878417969,"y":1667.5714111328125,"wires":[[]]},{"id":"a3cd3316.d91e4","type":"comment","z":"80844d23.1ebb8","name":"@ignoreflow","info":"","x":579,"y":248,"wires":[]},{"id":"24edc435.39832c","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["cdbaea8195ff"],"name":"On minMotorVibration Change","x":135,"y":2997,"wires":[["cadb3070.bf73"]]},{"id":"cadb3070.bf73","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":337,"y":2997,"wires":[["ceda76c5.5540b8"]]},{"id":"ceda76c5.5540b8","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.minMotorVibration","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":3001,"wires":[["3733bff.993384"]]},{"id":"3733bff.993384","type":"ui_slider","z":"80844d23.1ebb8","name":"Min Motor Vibration","label":"Min Motor Vbration (Hz)","group":"d3b95cec.e511f","order":8,"width":0,"height":0,"passthru":false,"topic":"","min":"10","max":"200","step":"","x":758,"y":3007,"wires":[["379ac802.0483e8"]]},{"id":"379ac802.0483e8","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1053.4285888671875,"y":3018.571533203125,"wires":[["6abf2ce6.b94e74"]]},{"id":"6abf2ce6.b94e74","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Min Motor Vibration","propAll":false,"prop":"cdbaea8195ff","valueType":"msg","value":"payload","x":1295.40478515625,"y":2996.71435546875,"wires":[[]]},{"id":"77267d86.16f324","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Max Motor Vibration","propAll":false,"prop":"6b071b4ae853","valueType":"msg","value":"payload","x":1296.40478515625,"y":3046,"wires":[[]]},{"id":"96ffe503.e0e2f8","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1054.4285888671875,"y":3067.857177734375,"wires":[["77267d86.16f324"]]},{"id":"9598c368.cd5d1","type":"ui_slider","z":"80844d23.1ebb8","name":"Max Motor Vibration","label":"Max Motor Vbration (Hz)","group":"d3b95cec.e511f","order":8,"width":0,"height":0,"passthru":false,"topic":"","min":"200","max":"5000","step":"","x":759,"y":3056.28564453125,"wires":[["96ffe503.e0e2f8"]]},{"id":"7ddeeb04.bfba24","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.maxMotorVibration","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":3052.28564453125,"wires":[["9598c368.cd5d1"]]},{"id":"2bcb7dd.b8e6782","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":338,"y":3046.28564453125,"wires":[["7ddeeb04.bfba24"]]},{"id":"9ccbcbd6.241418","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["6b071b4ae853"],"name":"On maxMotorVibration Change","x":136,"y":3046.28564453125,"wires":[["2bcb7dd.b8e6782"]]},{"id":"9709c5fd.fc2638","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":3,"width":0,"height":0,"name":"Min Motor Vibration","label":"Min Motor Vibration","format":"{{msg.payload.properties.minMotorVibration}}","layout":"row-left","x":746.9999809265137,"y":4415.333076477051,"wires":[]},{"id":"c97d8a9d.802d58","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":458.9999809265137,"y":4429.333076477051,"wires":[["9709c5fd.fc2638"]]},{"id":"f2f11978.49e7e8","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["cdbaea8195ff"],"name":"On min Motor Vibration Change","x":190.99998092651367,"y":4440.333076477051,"wires":[["c97d8a9d.802d58"]]},{"id":"5d28bdb0.7a7334","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":4,"width":0,"height":0,"name":"Max Motor Vibration","label":"Max Motor Vibration","format":"{{msg.payload.properties.maxMotorVibration}}","layout":"row-left","x":747.9999809265137,"y":4482.333076477051,"wires":[]},{"id":"3d2e10d3.c5e89","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":459.9999809265137,"y":4496.333076477051,"wires":[["5d28bdb0.7a7334"]]},{"id":"5371470b.ac2d58","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["6b071b4ae853"],"name":"On max Motor Vibration Change","x":201.99998092651367,"y":4507.333076477051,"wires":[["3d2e10d3.c5e89"]]},{"id":"4136e450.02af7c","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["ec006a6080fb"],"name":"On maxinnerMotorTemperature Change","x":165,"y":3100,"wires":[["2abc4880.433a58"]]},{"id":"2abc4880.433a58","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":388,"y":3096,"wires":[["485940bd.8a48"]]},{"id":"485940bd.8a48","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.maxinnerMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":554,"y":3107,"wires":[["f9f00e68.371ab"]]},{"id":"f9f00e68.371ab","type":"ui_slider","z":"80844d23.1ebb8","name":"Max Inner Motor Temperature","label":"Max Inner Motor Temperature","group":"d3b95cec.e511f","order":8,"width":0,"height":0,"passthru":false,"topic":"","min":"140","max":"400","step":"","x":788,"y":3111,"wires":[["97cae444.6b4d28"]]},{"id":"97cae444.6b4d28","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1053.4285888671875,"y":3122.571533203125,"wires":[["8102cd1.00a7b3"]]},{"id":"8102cd1.00a7b3","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Max Inner Motor Temperature","propAll":false,"prop":"ec006a6080fb","valueType":"msg","value":"payload","x":1325.40478515625,"y":3100.71435546875,"wires":[[]]},{"id":"8071e7e1.170958","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["006650b3b187"],"name":"On mininnerMotorTemperature Change","x":165,"y":3180,"wires":[["3b606df.f65ec92"]]},{"id":"3b606df.f65ec92","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":394,"y":3177,"wires":[["35773d5e.2681f2"]]},{"id":"35773d5e.2681f2","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.mininnerMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":554,"y":3187,"wires":[["c9f1f1ab.6cde1"]]},{"id":"c9f1f1ab.6cde1","type":"ui_slider","z":"80844d23.1ebb8","name":"Min Inner Motor Temperature","label":"Min Inner Motor Temperature","group":"d3b95cec.e511f","order":8,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"140","step":"","x":788,"y":3191,"wires":[["d1676c83.83e97"]]},{"id":"d1676c83.83e97","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1053.4285888671875,"y":3202.571533203125,"wires":[["9638f125.d639a"]]},{"id":"9638f125.d639a","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Min Inner Motor Temperature","propAll":false,"prop":"006650b3b187","valueType":"msg","value":"payload","x":1325.40478515625,"y":3180.71435546875,"wires":[[]]},{"id":"202b387.5e82cc8","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":5,"width":0,"height":0,"name":"Min Motor Inner temperature","label":"Min Motor Inner Temp","format":"{{msg.payload.properties.mininnerMotorTemp}}","layout":"row-left","x":789.3333339691162,"y":4540.666584014893,"wires":[]},{"id":"8d6039ca.3623d8","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":471.3333339691162,"y":4554.666584014893,"wires":[["202b387.5e82cc8"]]},{"id":"ef88c0b6.2b751","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["006650b3b187"],"name":"On min Motor Temperature Change","x":223.3333339691162,"y":4565.666584014893,"wires":[["8d6039ca.3623d8"]]},{"id":"f83be691.da6878","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["ec006a6080fb"],"name":"On max Motor Temperature Change","x":208.3333339691162,"y":4630.666584014893,"wires":[["7824a2e0.0a50bc"]]},{"id":"7824a2e0.0a50bc","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":456.3333339691162,"y":4619.666584014893,"wires":[["7d1371fb.20108"]]},{"id":"7d1371fb.20108","type":"ui_text","z":"80844d23.1ebb8","group":"9867c796.4b7858","order":6,"width":0,"height":0,"name":"Max Motor Inner temperature","label":"Max Motor Inner Temp","format":"{{msg.payload.properties.maxinnerMotorTemp}}","layout":"row-left","x":774.3333339691162,"y":4605.666584014893,"wires":[]},{"id":"b52be696.538f28","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["f1c8fd3fbf31"],"name":"On Motor Vibration Change","x":166.98411560058594,"y":4712.412679672241,"wires":[["241d6419.f7b71c"]]},{"id":"241d6419.f7b71c","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":407.2063446044922,"y":4746.301623344421,"wires":[["c503b22f.180b5"]]},{"id":"c503b22f.180b5","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.motorVibration","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":675.5793266296387,"y":4747.968125343323,"wires":[["3b716cb.f4bc994"]]},{"id":"3b716cb.f4bc994","type":"ui_gauge","z":"80844d23.1ebb8","name":"","group":"f551d601.c95ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"Motor Vibration","label":"Hz","format":"{{value}}Hz","min":"20","max":"5000","colors":["#00b500","#e6e600","#ca3838"],"x":969.3631973266602,"y":4748.093341827393,"wires":[]},{"id":"cc979d20.4614d","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["32655fdd46d4"],"name":"On Inner Motor Temperature","x":177.77777099609375,"y":4808.888671875,"wires":[["784ceb65.6a2b94"]]},{"id":"784ceb65.6a2b94","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":408,"y":4842.77761554718,"wires":[["c26ee3b3.4be28"]]},{"id":"c26ee3b3.4be28","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.innerMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":676.3729820251465,"y":4844.4441175460815,"wires":[["82fff892.8eb648"]]},{"id":"82fff892.8eb648","type":"ui_gauge","z":"80844d23.1ebb8","name":"","group":"f551d601.c95ff8","order":1,"width":0,"height":0,"gtype":"gage","title":"Inner Motor Temperature","label":"F","format":"{{value}}F","min":"20","max":"400","colors":["#00b500","#e6e600","#ca3838"],"x":1000.156852722168,"y":4844.569334030151,"wires":[]},{"id":"559526d1.394a08","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["63c2fc5536d4"],"name":"OnCurrent Change","x":163.88888549804688,"y":4896.666320800781,"wires":[["fe8fb649.01a328"]]},{"id":"fe8fb649.01a328","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":435.6666717529297,"y":4933.55534362793,"wires":[["9f01aac6.164628"]]},{"id":"c07e9dc7.e1289","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Inner Motor Temp","propAll":false,"prop":"32655fdd46d4","valueType":"msg","value":"payload","x":1042.785743713379,"y":2544.28564453125,"wires":[[]]},{"id":"334d1d12.bfa2a2","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":826.1428756713867,"y":2543.1427907943726,"wires":[["c07e9dc7.e1289"]]},{"id":"dca0b651.e7ce98","type":"ui_slider","z":"80844d23.1ebb8","name":"Inner Motor Temp","label":"Inner Motor Temp","group":"74fdd812.b35158","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"60","max":"400","step":"","x":673.7142639160156,"y":2541.5713510513306,"wires":[["334d1d12.bfa2a2"]]},{"id":"5fca6790.584078","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.innerMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":498.71427154541016,"y":2530.9998512268066,"wires":[["dca0b651.e7ce98"]]},{"id":"c90dfe78.73d55","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":304,"y":2541.285641670227,"wires":[["5fca6790.584078"]]},{"id":"9292079b.e6f578","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["32655fdd46d4"],"name":"On inner Motor Temp change","x":135,"y":2540.2856492996216,"wires":[["c90dfe78.73d55"]]},{"id":"7c70a066.aed77","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["4e88ee7b7db8"],"name":"On currentA moving changed","x":135,"y":2454.2856731414795,"wires":[["4e2ce73c.319b88"]]},{"id":"4e2ce73c.319b88","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":331.85713958740234,"y":2451.00013256073,"wires":[["4d7f2137.a14cb"]]},{"id":"4d7f2137.a14cb","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.currentAmoving","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":507.99998474121094,"y":2436.428659439087,"wires":[["65fad037.5ac3e"]]},{"id":"65fad037.5ac3e","type":"ui_slider","z":"80844d23.1ebb8","name":"Current Moving","label":"Current Moving (A)","group":"74fdd812.b35158","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"60","max":"400","step":"","x":672.9999771118164,"y":2447.000159263611,"wires":[["7296a1c6.59037"]]},{"id":"7296a1c6.59037","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":835.4285888671875,"y":2448.571599006653,"wires":[["ffb3ca1f.5ddbf8"]]},{"id":"ffb3ca1f.5ddbf8","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Set Current Moving","propAll":false,"prop":"4e88ee7b7db8","valueType":"msg","value":"payload","x":1042.0714569091797,"y":2449.7144527435303,"wires":[[]]},{"id":"7d6da81b.312008","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["21df66506855"],"name":"On Current stopping change","x":125,"y":2415.71435546875,"wires":[["583d12ba.1bc09c"]]},{"id":"583d12ba.1bc09c","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":304,"y":2416.7143478393555,"wires":[["fcedc2bf.16ea3"]]},{"id":"fcedc2bf.16ea3","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.currentAstopping","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":498.71427154541016,"y":2406.428557395935,"wires":[["574748a7.e26eb8"]]},{"id":"574748a7.e26eb8","type":"ui_slider","z":"80844d23.1ebb8","name":"Current Stopping(A)","label":"Current Stopping(A)","group":"74fdd812.b35158","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"60","max":"500","step":"","x":683.7142639160156,"y":2417.000057220459,"wires":[["866bae23.9f828"]]},{"id":"866bae23.9f828","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":826.1428756713867,"y":2418.571496963501,"wires":[["7f9df51d.e0e7bc"]]},{"id":"7f9df51d.e0e7bc","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Current Stopping(A)","propAll":false,"prop":"21df66506855","valueType":"msg","value":"payload","x":1032.785743713379,"y":2419.7143507003784,"wires":[[]]},{"id":"b267628f.2e9a2","type":"device listener","z":"80844d23.1ebb8","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"433b10d9.bd724","props":["68a054d36908"],"name":"On vibration add change","x":130,"y":3260,"wires":[["1c8f1aa.9afcae5"]]},{"id":"1c8f1aa.9afcae5","type":"switch","z":"80844d23.1ebb8","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319,"y":3260.9999923706055,"wires":[["84bde95.67bb318"]]},{"id":"84bde95.67bb318","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.vibrationAdd","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.8570938110352,"y":3319.285623550415,"wires":[["4250c967.37da58"]]},{"id":"4250c967.37da58","type":"ui_slider","z":"80844d23.1ebb8","name":"Motor Vibration Moving ","label":"Motor Vibration Moving ","group":"74fdd812.b35158","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"5000","step":"","x":708.7142639160156,"y":3261.285701751709,"wires":[["5edb7ab5.10b484"]]},{"id":"5edb7ab5.10b484","type":"function","z":"80844d23.1ebb8","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":841.1428756713867,"y":3262.857141494751,"wires":[["a1d0bb08.46a228"]]},{"id":"a1d0bb08.46a228","type":"set properties","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"Motor Vibration Moving ","propAll":false,"prop":"68a054d36908","valueType":"msg","value":"payload","x":1057.785743713379,"y":3263.9999952316284,"wires":[[]]},{"id":"9f01aac6.164628","type":"change","z":"80844d23.1ebb8","name":"format payload","rules":[{"t":"move","p":"payload.properties.currentA","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":671.4285583496094,"y":4954.285839080811,"wires":[["c7ff09e3.33ee88"]]},{"id":"c7ff09e3.33ee88","type":"ui_gauge","z":"80844d23.1ebb8","name":"","group":"f551d601.c95ff8","order":3,"width":0,"height":0,"gtype":"gage","title":"Current","label":"A","format":"{{value | number:1}}A","min":"0","max":"500","colors":["#00b500","#e6e600","#ca3838"],"x":879.8810119628906,"y":4956.952133178711,"wires":[]},{"id":"bca3e83f.2afc98","type":"http request","z":"bcf7de15.24d4c","name":"","method":"POST","ret":"txt","url":"drelevator.mybluemix.net/post","tls":"","x":354.5,"y":151,"wires":[["94aab44d.9e5c88"]]},{"id":"ad1e39e3.a65b98","type":"inject","z":"bcf7de15.24d4c","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":163,"y":153,"wires":[["bca3e83f.2afc98"]]},{"id":"94aab44d.9e5c88","type":"debug","z":"bcf7de15.24d4c","name":"","active":true,"console":"false","complete":"false","x":602,"y":148,"wires":[]},{"id":"6f00914e.8efd3","type":"inject","z":"80844d23.1ebb8","name":"Send data","topic":"","payload":"{\"instances\":10}","payloadType":"json","repeat":"5","crontab":"","once":true,"x":994,"y":145,"wires":[["85a329c9.ea4c28"]]},{"id":"5d98849e.cde1cc","type":"device function","z":"80844d23.1ebb8","deviceId":"","schema":"433b10d9.bd724","name":"","func":"msg.payload={'id':msg.deviceId,'motor_temp':motorTemp,'cabin_temp':cabinTemp,'cabin_speed':cabinSpeed,'state':state,'floor':currentFloor,'motor_vibration':motorVibration,'inner_motor_temp':innerMotorTemp,'current':currentA,'load':load,'direction':direction};\nreturn msg;","outputs":1,"noerr":0,"x":1339,"y":205,"wires":[["d4ab162e.c35c28"]]},{"id":"85a329c9.ea4c28","type":"function","z":"80844d23.1ebb8","name":"Send data","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];","outputs":1,"noerr":0,"x":1147,"y":188,"wires":[["5d98849e.cde1cc"]]},{"id":"b927ff7c.f5f85","type":"comment","z":"80844d23.1ebb8","name":"Send JSON","info":"","x":1275,"y":130,"wires":[]},{"id":"d4ab162e.c35c28","type":"http request","z":"80844d23.1ebb8","name":"","method":"POST","ret":"txt","url":"192.168.43.181:8080","tls":"","x":1419,"y":120,"wires":[["ff163383.b5bb4"]]},{"id":"ff163383.b5bb4","type":"ui_template","z":"80844d23.1ebb8","group":"aa4b60d9.10abb","name":"Untitled Theme 1","order":0,"width":"27","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":1547,"y":310,"wires":[[]]},{"id":"8d48452d.06f168","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"d3b95cec.e511f","order":0,"width":0,"height":0,"label":"Stop Simulation","color":"","bgcolor":"","icon":"","payload":"{\"instances\":10}","payloadType":"json","topic":"","x":157.5,"y":1740,"wires":[["a8b198d6.1c2088"]]},{"id":"e5dfc88a.cbdb28","type":"ui_button","z":"80844d23.1ebb8","name":"","group":"d3b95cec.e511f","order":0,"width":0,"height":0,"label":"Start Elevators","color":"","bgcolor":"","icon":"","payload":"{\"instances\":10}","payloadType":"json","topic":"","x":85,"y":231,"wires":[["12865df2.9b7a82"]]}]